/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


/* NAVIGATION */

.container {
	margin: 0 auto;
	width: 1000px;
}

.navbar{
	display: flex;
} 

 .navbar div {
	margin-top: 40px;
	margin-bottom: 40px;
	padding-right: 20px;
} 

.navbar nav {
	display: flex;
	flex-direction: row;
}

.navbar nav a {
	color: white;
	text-decoration: none;
	padding: 20px;
	font-weight: bold;
	background: #9F9FA1;
	margin: 0 10px;
	border-radius: 10px;
}

.logo {
	margin-top: 20px;
	margin-left: 80px;
}


/* FIRST LARGE IMAGE TOP */

.services-header-img {
	width: 100%;
	margin-bottom: 40px;
} 




/* SECTION 1 */

p {
	margin-bottom: 20px;
}


.section-one {
	border-bottom: 2px solid black;
	padding-bottom: 40px;
}



/* SECTIONS TWO, THREE, FOUR AND FIVE */

.section-two, .section-three, .section-four, .section-five {
	display: flex;
	justify-content: space-around;
}


.section-two div, .section-three div, .section-four div {
	border: 1px solid black;
	padding: 20px;
	background: #E9E8E8;
}

div {
	margin: 20px;
} */

.content {
	padding: 10px 0;
}



.section-two a, .section-three a,.section-four a {
	border: 1px solid black;
	text-decoration: none;
	padding: 5px 40px;
	color: black;
	border-radius: 10px;
	background: white;
	margin-top: 10px;
}

.section-five {
	border-top: 2px solid black;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 60px;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	line-height: 150%;
}



/* FOOTER */


footer p {
	text-align: center;
	padding-bottom: 100px;
}